@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: rgb(19, 19, 19);
}

section {
    padding: 2rem 2rem;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
}

section#about, section#skill,
section#project {
    padding-top: 6.5rem;
}

.logo{
    display: flex;
}

img{
    width: 100%;
    height: auto;
}

.logo img{
    width: 30px;
}

.btncontainer{
    display: flex;
    margin: 20px 10px 0px 10px;
    justify-content: space-evenly;
}

.btn, .btnp{
    color: #888888;
    padding: 14px;
    border-radius: 10px;
    cursor: grab;
    margin: 30px 10px 10px 0;
    background-color: #1c1c1c;
    border: 1px solid rgb(39, 38, 38);
}

.btnp{
    margin: 10px;
}

header {
    top: 0;
    position: sticky;
    padding: 20px 30px;
    background-color: rgb(19, 19, 19);
    box-shadow: 0 -1px 12px hsla(180, 6%, 66%, 0.15);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex;
    gap: 20px;
}

nav ul li {
    list-style: none;
    display: flex;
}

nav ul li .fa-solid {
    display: none;
}

nav ul li a {
    text-decoration: none;
    color: rgb(85, 85, 85);
}

.logo h3 {
    color: #7a7979;
    font-size: 1.2rem;
    translate: 10px;
}

.NameContainer {
    text-align: center;
    margin: 1.8rem 1rem 1rem 1rem;
}

.content{
    padding: 3rem;
}

.content img{
    width: 280px;
}

.content p{
    font-size: 1.5rem;
    padding: 10px;
    color: blue;
}

.content h1{
    padding: 10px;
    font-size: 2.1rem;
    color: #ffffffd9;
}

.content h2{
    padding: 10px;
    font-size: 1.6rem;
    color: #555555;
}

.content h2 span{
    color: blue;
    font-size: 1.3rem;
    display: inline-flex;
    font-weight: normal;
}

.aboutcontainer{
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 75%;
}


.education{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: auto;
}

.skillcontainer{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 4rem auto;
    justify-content: center;
    align-items: center;
}

.skill{
    display: flex;
    gap: 10px;
}

.projectcontainer{
    display: flex;
    justify-content: center;
    width: 75%;
    margin: 1rem auto;
    flex-wrap: wrap;
}

.project{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;

}

.box1, .box2{
    padding: 10px;
    height: 140px;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    background-color: #1c1c1c;
    border: 1px solid rgb(39, 38, 38);
}

.sbox1, .sbox2{
    flex: 1;
    padding: 10px;
    height: 205px;
    border-radius: 10px;
    text-align: center;
    background-color: #1c1c1c;
    border: 1px solid rgb(39, 38, 38);
}

.pbox1, .pbox2{
    padding: 10px;
    height: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid rgb(39, 38, 38);
}

.pbox1 img, .pbox2 img{
    width: 250px;
    height: 150px;
}

.box1 h4, .box2 h4, .sbox1 h4, .sbox2 h4{
    color: #555555;
    font-size: 19px;
    margin: 18px 50px 10px 50px;
    padding-bottom: 8px;
    border-bottom: 1px solid #555555;
}

.pbox1 h4, .pbox2 h4{
    color: #555555;
    font-size: 19px;
    margin: 18px 10px 10px 10px;
}

.box1 p, .box2 p, .sbox1 p, .sbox2 p{
    color: #555555;
    font-size: 15px;
    width: 90%;
    margin: 20px 10px 10px 10px;
}

.aboutcontent{
    color: #555555;
    height: 140px;
    width: 50%;
}

.aboutcontent h4{
    font-size: 20px;
    margin: 2rem 0 2rem 0;
}

.aboutcontent p{
    text-align: justify;
}

footer{
    padding: 20px;
}

footer ul{
    display: flex;
    gap: 10px;
    padding: 10px;
    justify-content: center;
}

footer ul li{
    list-style: none;
}

footer li i{
    padding: 10px;
    font-size: 30px;
}

footer ul li a{
    text-decoration: none;
    color: blue;
}

footer p{
    color: #555555;
    text-align: center;
}

@media (max-width:600px) {
    nav ul {
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 15px;
        justify-content: center;
        text-align: center;
        position: fixed;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        background-color: rgb(19, 19, 19);
        box-shadow: 0 -1px 12px hsla(180, 6%, 66%, 0.15);
    }

    nav ul li {
        flex-direction: column;
    }

    nav ul li a {
        font-size: 11px;
    }

    nav ul li .fa-solid {
        display: block;
        color: rgb(85, 85, 85);
        padding-bottom: 10px;
        font-size: 22px;
    }

    .content{
        padding: 0;
    }

    .content p{
        font-size: 16px;
    }
    
    .content h1{
        font-size: 22px;
    }
    
    .content h2{
        font-size: 20px;
    }
    
    .content h2 span{
        font-size: 17px;
    }

    section{
        padding: 0;
    }
    section#about, section#skill,
    section#project {
        padding-top: 6.5rem;
    }

    .btncontainera{
        margin: 10px  0 0 0;
        display: flex;
    }

    .btn{
        margin:10px;
        padding: 5px 20px 5px 20px;
    }

    .aboutcontainer{
        flex-direction: column;
        align-items: center;
    }

    .aboutcontent{
        width: 100%;
        height: 360px;
    }

    .aboutcontent p{
        font-size: 14px;
    }

    .skillcontainer{
        margin: 20px;
        padding: 0;
    }

    .sbox1, .sbox2{
        height: 150px;
    }

    .sbox1 p, .sbox2 p{
        font-size: 13px;
        margin: 5px;
        width: 50%;
        display: inline-flex;
        justify-content: center;
    }

    .sbox1 h4, .sbox2 h4{
        font-size: 15px;
        margin: 0;
        padding: 10px;
        border-bottom: 1px solid #464646b8;
    }

    .pbox1 img{
        width: 100%;
    }

    footer{
        margin-bottom: 5rem;
    }
}