@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

html{
    scroll-behavior: smooth;
    /* overflow-x: hidden; */
}

section {
    min-height: 100vh;
    padding: 7% 3%;
}

header {
    padding: 15px 85px;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* overflow: hidden; */
    box-shadow: 0px 11px 10px -23px rgba(0, 0, 0, 0.45);
}

.hname h1{
    font-weight: normal;
    font-size: 17px;
}

.hname h1 i{
    font-size: 25px;
}

nav {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

nav ul {
    display: flex;
    gap: 30px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    padding: 0 10px;
    text-decoration: none;
    font-size: 18px;
    color: #19093a;
}

nav ul li a:hover {
    cursor: pointer;
    padding: 0 10px;
    border: 1px solid;
    border-radius: 5px;
}

.menu {
    display: none;
}

.menu i {
    font-size: 20px;
}

.home{
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 0;
}

.HomeContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.HomeConatainer2 {
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
}

.Namecontent {
    padding: 0rem 1.5rem 0rem 1.5rem;
    margin-left: 3rem;
    text-align: start;
}   

.introcont{
    padding: 2rem 2rem 0rem 2rem;
    margin: 2rem 2rem 0rem 2.5rem;
}

.imgcont img {
    width: 200px;
    border-radius: 50%;
    border: 1px solid;
}

.imgcont1 img {
    width: 130px;
}

.Namecontent p {
    padding: 10px;
    font-size: 3rem;
    padding: 10px;
    color: #19093a;
    font-weight: 500;
}

.introcont p{
    font-size: 17px;
    padding: 10px;
}

.about{
    background-color: #f3f6f8c9;
}

.AboutConatainer {
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 1rem;
    background-color: #f3f6f8c9;
}

.Infocontent {
    width: 45%;
    padding: 2rem;
    margin-left: 2rem;
    text-align: start;
}

.Infocontent h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #1d0b40;
    font-weight: 500;
}

.Infocontent p{
    text-align: justify;
    max-width: 85%;
    margin-bottom: 20px;
}

.year{
    display: flex;
}

.projcom, .expyear{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 1rem;
    width: 7rem;
    height: 6rem;
    margin: 20px;
    border-radius: 10px;
    border: 1px solid #21212165;
}

.projcom h4, .expyear h4{
    font-size: 23px;
    margin-bottom: 10px;
}

.projcom p,.expyear p{
    font-size: 10px;
    text-align: center;
}

.expcont{
    padding: 2rem 2rem 0rem 2rem;
    margin: 2rem 5rem 0rem 2.5rem;
}

.box1, .box2, .box3{
    display: flex;
    flex-wrap: wrap;    
    align-items: center;
    padding: 1rem;
    margin: 20px;
    border-radius: 10px;
    border: 1px solid #21212165;
}

.box1 i, .box2 i, .box3 i{
    font-size: 18px;
    padding: 10px;
    border-radius: 50%;
    margin: 0px 20px 0 20px;
    border: 1px solid #21212165;
}

.box1 h5, .box2 h5, .box3 h5{
    font-size: 17px;
}

.box1 p, .box2 p, .box3 p{
    font-size: 13px;
    padding: 5px 0;
}

h3{
    text-align: center;
    font-size: 25px;
}

.expecontainer{
    margin: 2rem 1rem 1rem;
    display: flex;
}

.colm1, .colm3{
    padding: 20px;
}

.colm2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.card{
    max-width: 600px;
    width: 70%;
}

.card .colm22{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.card .colm22{
    display: none;
}

.circle1, .circle2, .circle3{
    height: 15px;
    width: 15px;
    border-radius: 50%;
}

.circle1{
    background-color: #579597;
}

.circle2{
    background-color: #ebda27;
}

.circle3{
    background-color: #ff7800;
}

.line, .line1, .line2{
    height: 90px;
    width: 1.2px;
    background-color: #1d0b40;
}

.colm1 p, .colm3 p{
    padding-bottom: 15px;
}

.colm1 h4, .colm3 h4{
    padding-bottom: 10px;
    font-size: 18px;
}

.projcontainer{
    width: 70%;
    margin: 2rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.samp1, .samp2, .samp3,
.samp4, .samp5, .samp6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 10px;
    padding: 10px;
    width: 300px;
    height: 230px;
    border: 1px solid #19093a74;
    border-radius: 12px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.samp1 img, .samp2 img, .samp3 img,
.samp4 img, .samp5 img, .samp6 img{
    width: 270px;
    border-radius: 12px;
}

.samp1 p, .samp2 p, .samp3 p,
.samp4 p, .samp5 p, .samp6 p{
    margin: 7px;
}

.btn{
    width: 35%;
    margin: 7px auto;
    padding: 7px;
    color: #fff;
    border: none;
    border-radius: 12px;
    background-color: #1d0b40;
}

.contact h3{
    font-size: 36px;
}

.conthead{
    text-align: center;
}

.conthead h6{
    margin: 10px;
    color: blue;
    font-size: 26px;
    font-weight: normal;
}

.conthead p{
    font-size: 14px;
}

.contform{
    width: 60%;
    margin: 2rem auto auto;
}

.contform .inp{
    margin: 10px;
    width: 100%;
    display: flex;
    justify-content:flex-end;
}

input[type="text"],input[type="email"], textarea{
    font-size: 15px;
    text-transform: capitalize;
    margin: 10px;
    padding: 13px;
    width: 100%;
    border: none;
    border-bottom: 1px solid;
}

input[type="text"],input[type="email"], textarea:focus{
    outline: none;
}

.btnn{
    width: 15%;
    margin: 10px;
    padding: 7px;
    color: #1d0b40;
    border: 1px solid gray;
    border-radius: 5px;
}

footer{
    padding: 20px;
}

footer p{
    color: #1d0b40;
    text-align: center;
}

@media (max-width:700px){

    header{
        padding: 15px 25px;
    }
    .home{
        padding-top: 3rem;
    }
    .HomeContainer{
        flex-direction: column;
    }
    .imgcont1 img{
        display: none;
    }
    .imgcont p{
        display: none;
    }
    .AboutConatainer{
        flex-direction: column;
    }
    .Infocontent{
        width: 100%;
        margin-left: 0;
        padding: 1rem 20px;
    }
    .Infocontent p{
        max-width: 100%;
        font-size: 15px;
    }
    .box1, .box2, .box3{
        width: 100%;
        flex-wrap: nowrap;
    }
    .Namecontent{
        margin: 0;
    }
    .introcont{
        margin: 0;
        padding: 10px;
    }
    .introcont p{
        padding: 0 10px;
        font-size: 13px;
        margin: 5px;
    }
    .Namecontent p{
        font-size: 30px;
        margin: 0;
        padding: 0;
    }
    .expcont{
        margin: 0;
        padding: 0 30px 0 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .expecontainer{
        flex-direction: column;
    }
    .card{
        width: 100%;
    }
    .colm2{
        display: none;
    }
    .card{
        display: flex;
    }
    .card .colm22{
        display: block;
        display: flex;
    }
    .colm1, .colm3{
        padding: 20px 0 20px 10px;
    }
    .colm1 p, .colm3 p{
        text-align: justify;
        font-size: 15px;
    }
    .line1{
        height: 25%;
    }
    .line2{
        height: 28%;
    }
    .contact h3{
        font-size: 27px;
    }
    .conthead h6{
        font-size: 23px;
    }
    .contform{
        padding: 10px;
        width: 100%;
    }
    .box1 i, .box2 i, .box3 i {
        font-size: 19px;
        padding: 15px;
        border-radius: 50%;
        margin: 0px 15px 0 15px;
    }

}

@media (max-width:600px) {

    nav ul {
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        background-color: #fff;
        gap: 0;
        overflow: hidden;
    }

    nav ul li {
        padding: 10px;
    }

    .menu {
        display: block;
        padding: 5px;
        border: 1px solid;
        border-radius: 5px;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    }

    #openMenulist {
        transition: all 0.7s;
    }
}

@media (max-width:400px){
    html,body{
        overflow-x: hidden;
    }

    .imgcont img{
        margin-top: -8rem;
    }
    .projcom p,.expyear p{
        font-size: 13px;
    }

}
